repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-added-large-files
            args: ['--maxkb=5120']

    - repo: https://github.com/jorisroovers/gitlint
      rev: v0.19.1
      hooks:
          - id: gitlint

    - repo: https://github.com/gitleaks/gitleaks
      rev: v8.24.2
      hooks:
          - id: gitleaks

    - repo: https://github.com/golangci/golangci-lint
      rev: v2.6.2
      hooks:
          - id: golangci-lint
            args: ['--fix']
            additional_dependencies: []

    - repo: local
      hooks:
          - id: go-fmt
            name: go fmt
            entry: go fmt ./...
            language: system
            pass_filenames: false
            types: [go]

    - repo: local
      hooks:
          - id: goimports
            name: goimports
            entry: goimports -w -local .
            language: system
            pass_filenames: false
            types: [go]
