services:
    postgres:
        image: postgres:18
        env_file:
            - .env
        ports:
            - '5432:5432'
        volumes:
            - type: bind
              source: ./initdb
              target: /docker-entrypoint-initdb.d
              read_only: true
            - type: volume
              source: postgres-data
              target: /var/lib/postgresql
        restart: unless-stopped
        networks:
            - app-net
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}',
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
    app:
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
            - .env
        ports:
            - '8080:8080'
        networks:
            - app-net
        restart: unless-stopped
        depends_on:
            postgres:
                condition: service_healthy
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'curl -fsS http://localhost:8080/health || exit 1',
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

volumes:
    postgres-data:

networks:
    app-net:
        name: app-net
